{% extends 'base.html' %}

{% block content %}

{% for product in products %}
<div class="row valign-wrapper" style="margin: 5% 10% 5% 10%;">
    <div class="left" onclick="window.location='{% url 'detail' product.id %}';" style="cursor:pointer;">
        <img src="{{ product.icon.url}}" class="responsive-img" alt="image" height="70" width="70">
    </div>
    <hr style="visibility:hidden;">
    <div class="center-align" onclick="window.location='{% url 'detail' product.id %}';" style="cursor:pointer; color:#999;">
        <h3>{{ product.title }}</h3>
        <p>{{ product.summary }}</p>
    </div>
    <hr style="visibility:hidden;">
    <div class="right">
        <a href="javascript:{document.getElementById('edit{{ product.id }}').submit()}"><button class="btn waves-effect waves-light" style="background-color:#EE6E73;"><i class="material-icons">edit</i></button></a>
        <a href="javascript:{document.getElementById('delete{{ product.id }}').submit()}"><button class="btn waves-effect waves-light" style="background-color:#EE6E73;"><i class="material-icons">delete</i></button></a>
    </div>
    <form id="delete{{ product.id }}" action="{% url 'delete' product.id %}" method="POST" type="hidden">
        {% csrf_token %}
    </form>
    <form id="edit{{ product.id }}" action="{% url 'edit' product.id %}" method="GET" type="hidden">
        {% csrf_token %}
    </form>
</div>
<hr style="margin:0% 10%;">
{% endfor %}
{% endblock %}